@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

:root {
  /* Font - 300, 400, 500 - 1.125rem */
  --font: "Rubik", sans-serif;

  /* Primary Colors */
  --blue: hsl(246, 80%, 60%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-work: hsl(15, 100%, 70%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);

  /* Neutral Colors */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ============================== Main Container ============================== */
.main-container {
  display: flex;
  width: 70%;
}

/* ============================== Cards ============================== */

.cards {
  display: flex;
  margin: 0 2rem 2rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

/* ============================== Profile Container ============================== */
.profile-container {
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 36rem;
}

.user-info {
  background-color: var(--blue);
  border-radius: 1rem;
  padding: 2rem;
}

.user-image {
  width: 5.5rem;
  height: 5.5rem;
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  margin-bottom: 2rem;
}

.user-info h1 {
  color: var(--white);
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 3.7rem;
}

.report {
  color: var(--pale-blue);
  font-weight: 400;
}

.interval {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column-reverse;
  border-radius: 1rem;
  padding: 0 0 1rem 0;
}

.intervals {
  display: flex;
  flex-direction: column;
}

.interval button {
  font-size: 1.125rem;
  padding-top: 1rem;
  text-align: left;
  padding-left: 2rem;
  line-height: 2.5rem;
  border: none;
  background-color: transparent;
  color: var(--desaturated-blue);
  cursor: pointer;
}

.interval button:hover {
  color: var(--pale-blue);
}

.interval button:focus {
  color: var(--pale-blue);
}

/* ============================== Work graphic ============================== */
.graphic-Work {
  background-color: var(--light-red-work);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 0;
  border-radius: 1rem;
}

/* ============================== Play graphic ============================== */
.graphic-Play {
  background-color: var(--soft-blue-play);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 0;
  border-radius: 1rem;
}

/* ============================== Study graphic ============================== */
.graphic-Study {
  background-color: var(--light-red-study);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 0;
  border-radius: 1rem;
}

/* ============================== Exercise graphic ============================== */
.graphic-Exercise {
  background-color: var(--lime-green-exercise);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 0;
  border-radius: 1rem;
}

/* ============================== Social graphic ============================== */
.graphic-Social {
  background-color: var(--violet-social);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 0;
  border-radius: 1rem;
}

/* ============================== Self Care graphic ============================== */
.graphic-SelfCare {
  background-color: var(--soft-orange-self-care);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 0;
  border-radius: 1rem;
}

/* ============================== Card Containers ============================== */

.icon {
  width: 6rem;
  height: 5em;
  padding-right: 1rem;
}

.info {
  background-color: var(--dark-blue);
  z-index: 1;
  padding: 2rem;
  border-radius: 1rem;
  height: 13rem;
  width: 18rem;
  margin-top: -1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title .ellipsis {
  width: 1rem;
  height: 0.3rem;
}

.info h4 {
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 1rem;
}

.info h2 {
  color: var(--white);
  font-weight: 300;
  font-size: 4.4rem;
}

.info p {
  font-size: 1.125rem;
  color: var(--pale-blue);
}

.attribution {
  margin-top: 3rem;
  text-align: center;
  color: var(--white);
}

/* ============================== Media Queries ============================== */

/* ============================== Main Container ============================== */
@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    flex-direction: column;
    padding: 4rem 1rem 4rem 1rem;
  }

  /* ============================== Cards ============================== */
  .cards {
    width: 100%;
    margin: 0;
  }

  /* ============================== Profile Container ============================== */
  .profile-container {
    width: 100%;
    height: 15rem;
  }

  .user-info {
    display: flex;
    height: 9rem;
    padding: 1.5rem;
    align-items: center;
  }

  .user-info h1 {
    font-size: 1.8rem;
    margin-bottom: 0rem;
  }

  .user-info h5 {
    font-size: 1.125rem;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user-image {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 0.8rem 0 0;
  }

  .intervals {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5rem;
  }

  .interval button {
    padding: 0rem;
  }

  /* ============================== Card Containers ============================== */
  .container {
    width: 100%;
  }

  .info {
    width: 100%;
    padding: 1.5rem 1rem;
    height: 9rem;
    margin-top: -2rem;
  }

  .info h2 {
    font-size: 3rem;
  }

  .info h4 {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .info p {
    font-size: 1rem;
  }

  .hours {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
